* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid coral;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
}
section {
  padding: 4% 0;
}

h1,
h2 {
  margin: 2% 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

/* CUSTOM STYLING STARTS HERE */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.hero-img {
  background-image: url("https://picsum.photos/800/500");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.projects__description {
  width: 200px;
  text-align: center;
  padding: 2%;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 2%;
}

/* MEDIQ QUERIES */
@media (max-width: 800px) {
  .projects {
    flex-wrap: wrap;
  }
  .projects img {
    width: 20%;
  }
  .projects div {
    width: 100%;
  }
}

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    width: 40%;
    margin: 1% 0;
  }

  .projects {
    flex-wrap: wrap;
  }
  .projects img {
    width: 40%;
    margin: 4% 0;
  }
}
